
/*header*/
.menu-bg{
    background-color: rgb(248, 249, 250);
}
.menu{
    max-width: 90%;
    height: 1hv;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo p{
    font-size: 1.5em;
}
.menu nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu nav ul li{
    padding: 0 10px;
}

#home-button{
    text-decoration: none;
    color: black;
}

.menu nav ul li a{
    color: rgb(75, 75, 75);
    padding: 10px;
}
.dropdown-nav{
    border: none;
    background: none;
    text-decoration: none;
    color: rgb(75,75,75)
}




/*content*/
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 90%;
    margin: 0 auto;
}



/*cards*/

.card-container{
    padding: 40px 0;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #a38e8e;
}
.card1{
    grid-column: 1/2;
    max-width: 400px;
    border: 2px solid;
    border-color: rgb(248, 249, 250);
    display: flex;
}
.card2{
    grid-column: 2/3;
    max-width: 400px;
    border: 2px solid;
    border-color: rgb(248, 249, 250);
    display: flex;
}
.card3{
    grid-column: 3/4;
    max-width: 400px;
    border: 2px solid;
    border-color: rgb(248, 249, 250);
    display: flex;
}
.card-conteudo{
    width: 200px;
    margin-left: 10px;
    margin-right: 40px;
    text-align: justify;
    line-height: 1;
    align-self: center;
}

.card-conteudo h1{
    font-size: 1.1em;
}

.card-conteudo sub{
    font-size:0.75em;
    color:rgb(146, 146, 146);
}

.card-imagem{

    width: 130px;

}


/*Contato*/

.contato{
    grid-column: 1/2;
}
.contato h1{

    font-size: 3em;
    margin-bottom: 10px;

}
.contato form{

    width: 80%;


}
.input{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 24px;

}
#botao{

    float: right;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: none;
    color: white;
    background-color: rgb(40,167,69);
}

/*imagens*/
.imagens{
    grid-column: 2/4;
}
.img{
    width:70px;
}












/*Footer*/
.footer{
    background-color:rgb(119,119,119);
    height: 10vh ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{

    font-size: 2em;
    font-weight: lighter;
}





@media(max-width: 1250px){


    .card-container{

        display:flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    .card-imagem{

        width: 130px;
    
    }

}

@media (max-width: 600px){
    main{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    .contato{

        grid-column: 1/2;

    }
    .imagens{
        grid-column: 1/2;
    }
    .menu{
        flex-direction: column;
        margin: 0 auto;
    }
    .menu nav ul{


        flex-direction: column;

    }
}
